.container{
    box-sizing:border-box;
    background-color:lightblue;
    width:50%;
    height: 100%;
    padding:50px;
    margin:auto;
    margin-top:10%;
    text-align:center;
    border-radius:5px;
    }
    
    h2,label{
      font-family:"Lucida Console", "Courier New", monospace;
    }
    
    label{
      text-align:left;
    }
    
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    
    button {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      border-radius:2px;
    }